<!-- <!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>


<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
      </head>
      <body>...de is inside of a '.erb' file in the views directory, where it belongs.
      </p>\n
      </body>\n</html>\n" to include "<h1> Buster's Best Bowling Alley</h1>" -->


<!DOCTYPE html>\\n<html>\\n    <head>\\n        <title>My First View!!</title>\\n    </head>\\n    <...it belongs.</p>\\n    </body>\\n</html>\\n\" to include \"<h1> Buster's Best Bowling Alley</h1>\"\n" to include "<p> 97 Bowling Alley Lane, Boulder CO </p> <h2> Bet You Can't Bowl A Strike Every Time</h2>
